.card-renderer-isolated {
  --card-width: 496px;
  --card-height: 496px;
  --card-header-height: 50px;
  --card-background: var(--ch-platter, #41404d);
  --card-header-background: var(--ch-default, #2e2d38);
  --card-highlight: var(--ch-highlight, #00ebe5);
  --card-transition: var(--ch-transition-time, 250ms);

  width: var(--card-width);
  max-width: 100%;
  min-height: var(--card-height);
  border-radius: 10px;
  border: 3px solid transparent;
  font: 400 16px/22px var(--ch-font-family);
  letter-spacing: 0.015em;
  overflow: hidden;

  transition: border-color var(--card-transition-time);
}

.card-renderer-isolated.view,
.card-renderer-isolated.edit {
  background-color: white;
  color: black;
}

.card-renderer-isolated.schema {
  background-color: none;
  color: white;
}

.card-renderer-isolated.schema .isolated-card,
.card-renderer-isolated.edit .isolated-card {
  padding: 0;
}

.card-renderer-isolated.selected {
  border-color: var(--card-highlight);
}


.card-renderer-isolated.view {
  --card-width: 100%;
}

.card-renderer-isolated--header {
  /*   position: relative; */
  display: flex;
  align-items: center;
  height: var(--card-header-height);
  padding: 14px 20px;
  background-color: var(--card-header-background);
  border: none;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;

  transition: background-color var(--card-transition-time),
              color var(--card-transition-time);
}

.card-renderer-isolated.selected .card-renderer-isolated--header {
  background-color: var(--card-highlight);
  color: black;
}

.card-renderer-isolated--header svg {
  --icon-color: white;

  margin-right: 13px;
  width: 18px;
  height: 20px;

  transition: stroke var(--card-transition-time);
}

.card-renderer-isolated.selected .card-renderer-isolated--header svg {
  --icon-color: black;
}

/* .card-renderer-isolated--header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: var(--card-header-height);
  background-color: black;
  opacity: 0.35;
} */

/* .card-renderer-isolated.selected .card-renderer-isolated--header-overlay {
  visibility: hidden;
} */

.card-renderer-isolated--content {
  position: relative;
  min-height: calc(var(--card-height) - var(--card-header-height));
  background-color: var(--card-background);
  border: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.card-renderer-isolated.edit .card-renderer-isolated--content {
  padding: 20px;
}

.card-renderer-isolated:focus {
  outline: 0; /* TODO: make this accessible */
}


/* Event Card Template */
.card-renderer-isolated.view.event-card .isolated-card {
  --event-image-height: 300px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "image        image"
    "title        title"
    "city         cta"
    "admission    cta"
    "date         date"
    "location     location"
    "description  description"
}
.card-renderer-isolated.view.event-card .isolated-card .field-renderer {
  margin-bottom: 0;
}
.card-renderer-isolated.view.event-card .isolated-card .field-image {
  grid-area: image;
  height: var(--event-image-height);
}
.card-renderer-isolated.view.event-card .isolated-card .field-title {
  grid-area: title;
  margin-bottom: 30px;
}
.card-renderer-isolated.view.event-card .isolated-card .field-cta {
  grid-area: cta;
}
.card-renderer-isolated.view.event-card .isolated-card .field-city {
  grid-area: city;
}
.card-renderer-isolated.view.event-card .isolated-card .field-admission {
  grid-area: admission;
}
.card-renderer-isolated.view.event-card .isolated-card .field-date {
  grid-area: date;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid var(--ch-light-gray-d6);
}
.card-renderer-isolated.view.event-card .isolated-card .field-location {
  grid-area: location;
  margin-top: 30px;
}
.card-renderer-isolated.view.event-card .isolated-card .field-description {
  grid-area: description;
  margin-top: 30px;
}

.card-renderer-isolated.view.event-card .isolated-card .field-title > .view-field--label,
.card-renderer-isolated.view.event-card .isolated-card .field-image > .view-field--label,
.card-renderer-isolated.view.event-card .isolated-card .field-image > .view-field--value,
.card-renderer-isolated.view.event-card .isolated-card .field-admission > .view-field--label,
.card-renderer-isolated.view.event-card .isolated-card .field-cta > .view-field--label,
.card-renderer-isolated.view.event-card .isolated-card .field-city > .view-field--label {
  visibility: hidden;
  height: 0;
  padding: 0;
}

.card-renderer-isolated.view.event-card .isolated-card .field-title > .view-field--value {
  font-size: 28px;
  line-height: 36px;
}

.card-renderer-isolated.view.event-card .isolated-card .field-city > .view-field--value {
  opacity: 0.5;
  font-size: 13px;
  line-height: 18px;
}

.card-renderer-isolated.view.event-card .isolated-card .field-admission > .view-field--value {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
}

.card-renderer-isolated.view.event-card .isolated-card .field-cta > .view-field--value {
  width: 128px;
  height: 35px;
  margin-left: auto;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--ch-blue);
  color: white;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.card-renderer-isolated.view.event-card .isolated-card--hero-image {
  position: absolute;
  top: 0;
  left: 0;
}
